@font-face {
    font-family: 'Plateia';
    src: url('../fonts/Plateia Bold.ttf') format('truetype');
  }

  body {
    color: white !important;
    background-image: url(https://wallpapercave.com/wp/wp9074154.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Plateia';
  }

.navspan {
    font-size: 0.8rem;
    font-family: 'Plateia' !important;
  }

.navspan2 {
    font-size: 0.71rem;
    font-family: 'Plateia' !important;
}

.topspan {
    font-size: 1.1rem !important;
    font-family: 'Plateia' !important;
    color: white !important;
}

.botspan {
    font-size: 0.71rem;
    font-family: 'Plateia' !important;
    color: #dcdcdc !important;
}

.won {
    color: lightgreen !important;
}
.lost{
    color: #fb4040 !important;
}

.kills{
    color: white !important;
}

.deaths {
    color: white !important;
}

.assists {
    color: white !important;
}

.mb-0-1{
    margin-bottom: .8rem !important;
}


#playercard{
    width: 70px;
    height: 70px;
    border-radius: 0%;

}

#profilecard1{
    font-family: 'Plateia' !important;
    background-color: #002c587a;
    padding-left: 1%;
    backdrop-filter: blur(10px);
    border: 1px solid #0000003b;
    border-right: 0px;
    display: inline-flex !important;
    flex-direction: row !important;
    align-content: center !important;
    align-items: center !important;
    background-repeat: no-repeat;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
}
#profilecard2{
    font-family: 'Plateia' !important;
    background-color: #002c587a;
    padding-right: 1%;
    border-radius: 1%;
    backdrop-filter: blur(10px);
    border: 1px solid #0000003b;
    border-left: 0px;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    display: inline-flex !important;
    flex-direction: row !important;
    align-content: center !important;
    align-items: center !important;
}

#profilestuff {
    display: inline-flex !important;
    flex-direction: row !important;
    align-content: center !important;
    align-items: center !important;
}

.mainbar {
    border-bottom: 2px solid #ff4755;
}

#searchname {
    width: 30%;
}
#tag{
    width: 18% !important;
}

#region {
    width: 45% !important;
    margin-right: 10px;
}

#rankimg {
    width: 65px;
    height: 65px;
}

#agenticon {
    max-height: 55px !important;
}
#agentname {
    position: absolute;
    left: 1px;
    bottom: 1px;

}



.match {
    border-bottom: 1px solid black;
    background-color: #002c587a;
    backdrop-filter: blur(10px);
    border: 1px solid #0000003b;
    display: inline-flex !important;
}