<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title>test2</title>
    </head>
    <body>
        <h1>
            Hello {{g.name}}, you are from {{g.region}}!
        </h1>
        <p>
            Your puuid is: {{g.puuid}}<br>
            Your current tier is: {{g.current_tier_patched}}<br>
            Your rank in your tier is: {{g.ranking_in_tier}}
        </p>
    </body>
</html>