<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title>test2</title>
    </head>
    <body>
        <h1>
            Hello {{g.name}}, you are from {{g.region}}!
        </h1>
        <p>
            Your puuid is: {{g.puuid}}<br>
            Your current tier is: {{g.current_tier_patched}}<br>
            Your rank in your tier is: {{g.ranking_in_tier}}<br>
            Your tag is: {{g.tag}}<br><br>
            Match1:  Map-{{g.match1_map}}  |  Mode-{{g.match1_mode}}  |  RoundsPlayed-{{g.match1_rounds_played}}  |  Agent-{{g.match1_agent_name}}  |  Score-{{g.match1_score}}  |  Kills-{{g.match1_kills}}  |  Deaths-{{g.match1_deaths}}  |  Assists-{{g.match1_assists}}<br>
            Match2:  Map-{{g.match2_map}}  |  Mode-{{g.match2_mode}}  |  RoundsPlayed-{{g.match2_rounds_played}}  |  Agent-{{g.match2_agent_name}}  |  Score-{{g.match2_score}}  |  Kills-{{g.match2_kills}}  |  Deaths-{{g.match2_deaths}}  |  Assists-{{g.match2_assists}}<br>
            Match3:  Map-{{g.match3_map}}  |  Mode-{{g.match3_mode}}  |  RoundsPlayed-{{g.match3_rounds_played}}  |  Agent-{{g.match3_agent_name}}  |  Score-{{g.match3_score}}  |  Kills-{{g.match3_kills}}  |  Deaths-{{g.match3_deaths}}  |  Assists-{{g.match3_assists}}<br>
            Match4:  Map-{{g.match3_map}}  |  Mode-{{g.match3_mode}}  |  RoundsPlayed-{{g.match3_rounds_played}}  |  Agent-{{g.match3_agent_name}}  |  Score-{{g.match3_score}}  |  Kills-{{g.match3_kills}}  |  Deaths-{{g.match3_deaths}}  |  Assists-{{g.match3_assists}}<br>
            Match5:  Map-{{g.match5_map}}  |  Mode-{{g.match5_mode}}  |  RoundsPlayed-{{g.match5_rounds_played}}  |  Agent-{{g.match5_agent_name}}  |  Score-{{g.match5_score}}  |  Kills-{{g.match5_kills}}  |  Deaths-{{g.match5_deaths}}  |  Assists-{{g.match5_assists}}<br>
            Match6:  Map-{{g.match6_map}}  |  Mode-{{g.match6_mode}}  |  RoundsPlayed-{{g.match6_rounds_played}}  |  Agent-{{g.match6_agent_name}}  |  Score-{{g.match6_score}}  |  Kills-{{g.match6_kills}}  |  Deaths-{{g.match6_deaths}}  |  Assists-{{g.match6_assists}}<br>
            Match7:  Map-{{g.match7_map}}  |  Mode-{{g.match7_mode}}  |  RoundsPlayed-{{g.match7_rounds_played}}  |  Agent-{{g.match7_agent_name}}  |  Score-{{g.match7_score}}  |  Kills-{{g.match7_kills}}  |  Deaths-{{g.match7_deaths}}  |  Assists-{{g.match7_assists}}<br>
            Match8:  Map-{{g.match8_map}}  |  Mode-{{g.match8_mode}}  |  RoundsPlayed-{{g.match8_rounds_played}}  |  Agent-{{g.match8_agent_name}}  |  Score-{{g.match8_score}}  |  Kills-{{g.match8_kills}}  |  Deaths-{{g.match8_deaths}}  |  Assists-{{g.match8_assists}}<br>
            Match9:  Map-{{g.match9_map}}  |  Mode-{{g.match9_mode}}  |  RoundsPlayed-{{g.match9_rounds_played}}  |  Agent-{{g.match9_agent_name}}  |  Score-{{g.match9_score}}  |  Kills-{{g.match9_kills}}  |  Deaths-{{g.match9_deaths}}  |  Assists-{{g.match9_assists}}<br>
            Match10:  Map-{{g.match10_map}}  |  Mode-{{g.match10_mode}}  |  RoundsPlayed-{{g.match10_rounds_played}}  |  Agent-{{g.match10_agent_name}}  |  Score-{{g.match10_score}}  |  Kills-{{g.match10_kills}}  |  Deaths-{{g.match10_deaths}}  |  Assists-{{g.match10_assists}}<br>
        </p>
    </body>
</html>